DB_HOST=
DB_PORT=
DB_USER=
DB_PASS=
DB_ROOT_PASS=
DB_NAME=

JWT_SECRET=
JWT_EXPIRES_IN=

REDIS_HOST=
REDIS_PORT=

REFRESH_SECRET=
REFRESH_EXPIRES_IN=

THROTTLE_TTL=
THROTTLE_LIMIT=

ALLOWED_ORIGIN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

MAIL_USER=
MAIL_PASS=
