DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASS=
DB_NAME=auth

JWT_SECRET=
JWT_EXPIRES_IN=60s

REDIS_HOST=localhost
REDIS_PORT=6379

REFRESH_SECRET=refres_secret
REFRESH_EXPIRES_IN=7d

THROTTLE_TTL=60000
THROTTLE_LIMIT=5

ALLOWED_ORIGIN=http://localhost:3000,https://example.com
